/* AddTest.css */

/* Style the main container */
div {
    margin: 20px;
    font-family: Jockey One,sans-serif;
  }
  
  /* Style form labels */
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  /* Style text input fields */
  input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  /* Style checkbox */
  input[type="checkbox"] {
    margin-right: 5px;
  }
  
  /* Style questions section */
  h2 {
    margin-top: 20px;
  }
  
  /* Style question container */
  div > div {
    margin-bottom: 20px;
  }
  
  /* Style buttons */
  button {
    background-color: #337ab7;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 5px;
  }
  
  /* Style remove question button */
  button:hover {
    background-color: #45a049;
  }
  
  /* Style horizontal line */
  hr {
    margin: 10px 0;
    border: 0;
    border-top: 1px solid #ddd;
  }
  
  /* Style answers list */
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  /* Style answer list items */
  li {
    margin-bottom: 10px;
  }
  
  /* Style remove answer button */
  button:hover {
    background-color: #d9534f;
  }
  
  /* Style submit button */
  button[type="submit"] {
    margin-top: 20px;
    background-color: #337ab7;
  }
  
  /* Style submit button on hover */
  button[type="submit"]:hover {
    background-color: #286090;
  }

  .createtestcontainer {
    margin: auto;
    display: flex;
    flex-direction: column;
     align-items: center;
  }


  .input-container {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    
  }
  
  label {
    margin-right: 10px; /* Add or adjust spacing as needed */
    flex: 1;
  }

  /* Style form labels */
  label.public-label {
    margin-right: 0; /* Add or adjust spacing as needed */
  }
