body{
    margin: 0px;
}
h1{
    text-align: left;
    font-family: monospace;
    font-size: 28px;
    color: black;
    margin-left: 10px;
}

#browseDiv{
    justify-content: center;
    align-items: center;
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    align-items: center;
    max-width: 5000px;
    margin-left: 2rem;
    margin-right: 2rem;
    align-items: center;
    gap: 20px;
    background-color: white;
}
.card{
    color: black;
    background-color: lightblue;
    display: block;
    text-align: center;
    margin-bottom: 4px;
    padding: 20px;
    width: 250px;
    height: 150px;
    border-radius: 4px;
    top: 50%;
    left: 50%;
}
.name{
    text-align:center;
}
.cardLink{
    text-decoration: none;
}
