/* EditProfile.css */

@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

body, #editProfile, h1, div, label, input, button {
  font-family: 'Jockey One', sans-serif;
  text-align: center !important;
}

#editProfile {
  margin: auto;
  width: 60%;
}

h1 {
  color: #333;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

div {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 18px;
}


button {
  background-color: #C3E6F2;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-size: 18px;
}

button:hover {
  background-color: #4285f4;
  color: #ffffff;
}

#error {
  color: red;
}
