/* Friends.css */

@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

body, #friends, h1, ul, li, .friendName, .friendScore {
  font-family: 'Jockey One', sans-serif;
  text-align: center !important;
}

#friends {
  margin: auto;
}

h1 {
  color: #333;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}

.friendName {
  font-size: 18px;
  font-weight: bold;
  max-width: 50%;
}

.friendScore {
  font-size: 18px;
  max-width: 30%;
}

/* Button Style */
.friendButton {
 background-color: #C3E6F2; 
  
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-size: 18px;
}

.friendButton:hover {
  background-color: #4285f4;
  color: #ffffff;
}

.addFriendButton {
   background-color: #C3E6F2; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.goBackButton{
   background-color: #C3E6F2; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.goBackButton:hover {
 background-color: #4285f4;
  color: #ffffff;
}
.addFriendButton:hover {
 background-color: #4285f4;
  color: #ffffff;
}
#search {
  width: 450px; /* Adjust the width as needed */
  margin-bottom: 10px; /* Add margin for spacing */
}
