body{
    margin: 0px;
}
h1{
    text-align: left !important;
    font-family: monospace;
    font-size: 28px;
    color: black;
    margin-left: 10px;
}
.navbar{
    border-bottom: 3px solid;
}

.navbar ul{
    list-style-type: none;
    background-color: white !important;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    font-family: monospace;
    background-color: white !important;
    color: black;
    font-size: 20px;
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align: center;
    
}

.navbar a:hover{
    background-color: lightgrey;
}

.navbar li{
    float: right !important;
    background-color: white !important;
}

.navbar img{
    float: left !important;
}
.wrapper{
    max-height: 250px;
    border: 1px soild #ddd;
    display: flex;
    overflow-x: auto;
}

.wrapper .item{
    min-width: 500px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    background-color: #ddd;
    margin-right: 2px;
}
