body{
    margin: 0px;
}
h1{
    text-align: left;
    font-family: monospace;
    font-size: 28px;
    color: black;
    margin-left: 10px;
}
.navbar{
    border-bottom: 3px solid;
}

.navbarul{
    list-style-type: none;
    background-color: white;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbara{
    font-family: monospace;
    background-color: white;
    color: black;
    font-size: 20px;
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align: center;
    
}

.navbara:hover{
    background-color: lightgrey;
}

.navbarli{
    float: right;
    background-color: white;
    display: block;
    width: 8%;
    border-radius: 0px;
    box-shadow: none;
}

.navbarimg{
    float: left;
}
.wrapper{
    max-height: 250px;
    border: 1px soild #ddd;
    display: flex;
    overflow-x: auto;
}

.wrapper .item{
    min-width: 500px;
    height: 220px;
    line-height: 210px;
    text-align: center;
    background-color: #ddd;
    background-color: lightblue; /* Updated background color to blue */
    color: white; /* Set text color to white */
    margin-right: 2px;
}

.wrapper .item a {
    text-decoration: none; /* Remove underline from the link */
    color: black; /* Set the color of the link text to white */
    font-size: 20px;
}
