/* Leaderboard.css */

@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

body, #leaderboard, h1, ul, li, .username, .score {
  font-family: 'Jockey One', sans-serif;
    text-align: center !important;
}

#leaderboard {
  text-align: center;
}

h1 {
  color: #333;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}

.username {
  font-size: 18px;
  font-weight: bold;
}

.score {
  font-size: 18px;
}
