/* Leaderboard.css */

#leaderboard {
  font-family: 'Jockey One', sans-serif;
  text-align: center; /* Center the title */
}

h1 {
  text-align: center; /* Center the title */
  color: #333;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px; /* Add some space below the title */
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 20px; /* Increase the space between users */
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center items vertically */
}

.username {
  font-size: 18px;
  font-weight: bold;
}

.score {
  font-size: 18px;
}

.points-label {
  font-size: 16px;
  color: #666; /* Use a different color for the label */
}
