/* Leaderboard.css */

#leaderboard {
  font-family: 'Jockey One', sans-serif;
  text-align: center;
}

h1 {
  color: #333;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%; /* Adjust the width as needed */
  margin: 0 auto; /* Center the box horizontally */
}

.username {
  font-size: 18px;
  font-weight: bold;
}

.score {
  font-size: 18px;
}

.points-label {
  font-size: 16px;
  color: #666;
}

.points-container {
  display: flex;
  align-items: center;
}

.points-container:before {
  content: "Points: ";
  margin-right: 5px;
  font-weight: bold;
}
