/* Register.css */

body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
}

#registerDiv {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#inner-title {
  color: #333;
  margin-bottom: 20px;
  font-size: 1.5em;
  font-weight: bold;
}

label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px 0px 20px;
  margin-bottom: 10px;
}

#registerButton {
  background-color: #c3e6f2;
  color: #000000;
  padding: 10px 0;
  width: 100%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#registerButton:hover {
  background-color: #4285f4;
  color: #ffffff;
}

.buttons {
  max-width: 500px;
  margin: 0 auto;
}

#registerResult {
  font-size: 14px;
}


