.navbar {
    height: 80px;
    border-bottom: 3px solid;
}
.navbar-nav > li{
    padding-left:0px;
    padding-right:15px;
  }

.wrapper{
    max-height: 250px;
    border: 1px soild #ddd;
    display: flex;
    overflow-x: auto;
}

.wrapper::-webkit-scrollbar{
    width:10;
}

.wrapper .item{
    min-width: 500px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    background-color: #ddd;
    margin-right: 2px;
}
