@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');
html, body, #root {
  background-color: white;
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100vh; 
}

.p-description {
  font-family: 'Jockey One', sans-serif;
}

.logo {
  max-width: 100%; 
  height: auto; 
  margin: 0 auto; 
}

.landing-container {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-family: 'Arial', sans-serif; 
  }
  
  h1 {
    font-size: 3rem; 
    color: #0073e6; 
  }
  
  p {
    font-size: 1.5rem; 
    color: #333; 
    margin-bottom: 30px;
  }
  
  .button-container {
    margin: 20px;
  }
  
  .btn {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem; 
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
    font-family: 'Jockey One', sans-serif;
  }
  
  .login-btn {
    background-color: #C3E6F2; 
    color: rgb(0, 0, 0);
  }
  
  .register-btn {
    background-color: #C3E6F2; 
    color: rgb(0, 0, 0);
  }
  
  .login-btn:hover, .register-btn:hover {
    opacity: 0.9; 
  }
  
  
  @media (max-width: 768px) {
    h1 {
      font-size: 2rem;
    }
  
    p {
      font-size: 1rem;
    }
  
    .btn {
      padding: 8px 16px;
      font-size: 1rem;
    }
  }
  